body {
  background-color: #153462;
}

hr{
height: 0px;
width:100%;
border-style: dotted none none none;
border-color: #4FA095;
border-width: 10px;
}
h1{
color: #F6F6C9;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
}
h2{
color: #F6F6C9;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
}
h3{
color: #F6F6C9;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
}
a:link {
color: #153462;
background-color: transparent;
text-decoration: none;
}

.navigation {
  background-color:#F6F6C9
}

a:visited {
color: #153462;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: #4FA095;
background-color: transparent;
text-decoration: none;
}
