.logo{
  background-color: #153462;
  left: 0px;
  top: 0px;
  position: fixed;
  padding: 10px;
}
.headline {
  background-color: #153462;
  height: 200px;
  width:100%;
  left: 200px;
  top: 0px;
  position: fixed;
}

.background{
  background-color: #153462;
}

.navigation{
  background-color: #4FA095;
  height: 100%;
  width:200px;
  left: 0px;
  top: 200px;
  position: fixed;
}
.content{
  background-color: #153462;
  height: 100%;
  margin-top: 200px;
  margin-left: 200px;
}


.headlineAbstandHorizontal{
  margin-left: 30px;
  margin-right: 30px;
}

.headlineAbstandVerticalAndHorizontal{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.navigationButton {
  background-color:#F6F6C9
}

hr{
height: 0px;
width:100%;
border-style: dotted none none none;
border-color: #4FA095;
border-width: 10px;
}

body{
  margin: 0 0 0 0;
}

h1{
color: #F6F6C9;
font-family: Indie Flower, Helvetica, sans-serif;
font-size: 60px;
margin-bottom:0;
}
h2{
color: #F6F6C9;
font-family: Indie Flower, Helvetica, sans-serif;
font-size: 30px;
text-align: center;
}
h3{
color: #F6F6C9;
font-family: Indie Flower, Helvetica, sans-serif;
font-size: 30px;
margin-top: 0;
margin-bottom:0;
}

a:link {
color: #153462;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: #153462;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: #FCFDF2;
background-color: transparent;
text-decoration: none;
}
