.logo{
  background-color: #153462;
  left: 0px;
  top: 0px;
  position: fixed;
  padding: 10px;
}
.headline {
  background-color: #153462;
  height: 200px;
  width:100%;
  left: 200px;
  top: 0px;
  position: fixed;
}
 .stars{
   padding: 20px;
   left:0;
   position: relative;
   margin:auto;
 }

.background{
  background-color: #153462;
}

.navigation{
  background-color: #4FA095;
  height: 100%;
  width:200px;
  left: 0px;
  top: 200px;
  position: fixed;
}
.content{
  background-color: #153462;
  height: 100%;
  margin-top: 200px;
  margin-left: 200px;
}




.headlineAbstandHorizontal{
  margin-left: 30px;
  margin-right: 30px;
  width: 300px;
}

.headlineAbstandVerticalAndHorizontal{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 300px;
}

.navigationButton {
  background-color:#F6F6C9
}

hr{
height: 0px;
width:100%;
border-style: dotted none none none;
border-color: #4FA095;
border-width: 10px;
}

body{
  margin: 0 0 0 0;
}

h1{
color: #F6F6C9;
font-family: Indie Flower, Helvetica, sans-serif;
font-size: 60px;
margin-bottom:0;
font-weight:800;
}
h2{
color: #F6F6C9;
font-family: Indie Flower, Helvetica, sans-serif;
font-size: 30px;
text-align: center;
}
h3{
color: #F6F6C9;
font-family: Indie Flower, Helvetica, sans-serif;
font-size: 30px;
margin-top: 0;
margin-bottom:0;
}

a:link {
color: #153462;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: #153462;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: #FCFDF2;
background-color: transparent;
text-decoration: none;
}

/* CSS */
.button-71 {
  background-color: #03255c;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 30px;
  font-weight: lighter;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}


/* CSS */
.button-84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#153462, #153472);
  border-radius: 8px;
  border-width: 0;
  width: 155px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-84:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button-84:active {
  outline: 0;
}

.button-84:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}
