.body{
  background-color: #7895B2;
  font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
}

.header{
  background-color: #AEBDCA;
}

.navbar_left{
  background-color: #F5EFE6;
}

.content{
  background-color: #E8DFCA;
}

.button-margin{
  margin: 7.5px;
}

.btn{
  background-color:#7895B2;
  color: #F5EFE6;
  border: none;
  border-radius: 0;
  width: 240px;
}

.btnColorFolgen{
  background-color:#baa577;
  width: 260px;
}

.kids {
  border: 8px solid #7895B2;
  border-radius: 100%;
}



    .btn:hover{background-color: #AEBDCA;}
